* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

abbr {
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.alert {
  overflow: hidden;
  color: #444444;
  border-radius: 5px;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 30px;
  max-width: 50%;
  margin: auto;
  background-color: #ccc;
  margin-top: 50px;
  text-align: center;
  transition: all 0.3s cubic-bezier(1, 0.575, 0.565, 1);

}

.hide {
  overflow: hidden;
  opacity: 0;
  color: #444444;
  border-radius: 5px;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 30px;
  max-width: 50%;
  margin: auto;
  background-color: #ccc;
  margin-top: 50px;
  text-align: center;
  transition: all 0.3s cubic-bezier(1, 0.575, 0.565, 1);

}

.equal {
  display: inline-block;
  width: 314% !important;
}

.dark-mode-btn button {
  background-color: #353535 !important;
  color: #c9c9c9 !important;
}

.dark-mode-btn abbr {
  background-color: #353535 !important;
  color: #c9c9c9 !important;
}

.darkmode-btn {
  border: 0px;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  background-color: #5a5a5a;
  color: #ccc;
  cursor: pointer;
}

.container-btn-darkmode {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.dark-mode .calculator {
  background-color: #303030;
  color: #d8d8d8;
}

.dark-mode {
  background-color: #303030;
  color: #d8d8d8;
}

.dark-mode .display {
  background-color: #e2e2e2;
  color: #242424;
}

.whole-calculator {
  /* center the calculator */
  height: 100vh;
  display: block;
  margin: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.display {
  overflow-x: scroll;
  color: #ffffff;
  background-color: #373737;
  padding: 15px;
  height: 30px;
  font-size: 2em;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  width: calc(100% - 30px);
}

.EC {
  position: relative;
  right: -215%;
}

.buttons {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e0e0e0;
}

.button:active {
  background-color: #d0d0d0;
}

.reminder {
  background-color: #b8b8b8;
  height: 20px;
  border-radius: 10px;
  color: #313131;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}